@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex {
  overflow-x: scroll;
  justify-content: space-between;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.flex::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
}

.slider Image {
  flex: 0 0 auto;
}

.main-flex {
  overflow-x: scroll;
  justify-content: space-between;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.main-flex::-webkit-scrollbar {
  display: none;
}
.main-flex-container1{
  width: fit-content;
}
.main-flex-container2{
  width: fit-content;
}

.slider {
  display: flex;
}

.slider Image {
  flex: 0 0 auto;
}
.main-flex-container1{
  display: flex;
}
.main-flex-container2{
  display: flex;
}